<style>
    #panel {
        width: 0px;
        background-color: gray;
        height: 100vh;
        transition: width 0.5s;
        overflow: hidden;
        text-align: right;
        padding: 0px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        margin-left: 50px;
    }

    .image img {
        max-width: 700px;
        max-height: 700px;
    }

    .buttons {
        margin: 50px;

    }

    .filters {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .filters div {
        height: 100px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        cursor: pointer;
    }
</style>
<script defer src="uposledzonejq.js"></script>
<script>
    let currentFilter = "";
    let currentFilterValue = "";
    function closePanel() {
        document.getElementById("panel").style.width = "0px";
        document.getElementById("panel").style.padding = "0px";
    }
    function openPanel() {
        document.getElementById("panel").style.width = "250px";
        document.getElementById("panel").style.padding = "15px";
    }
    function setFilter(filter, val) {
        document.querySelector(".modified-image").style.filter = `${filter}(${val})`;
        currentFilter = filter;
        currentFilterValue = val;
    }
    function resetFilter() {
        document.querySelector(".modified-image").style.filter = "none";
        currentFilter = "";
        currentFilterValue = "";
    }
    function setTempFilter(filter, val) {
        document.querySelector(".modified-image").style.filter = `${filter}(${val})`;
    }
    function clearTempFilter() {
        if (currentFilter === "") {
            document.querySelector(".modified-image").style.filter = "none";
        } else {
            document.querySelector(".modified-image").style.filter = `${currentFilter}(${currentFilterValue})`;
        }
    }
    function preview() {
        if(currentFilter === "") {
            alert("Nie wybrano filtra");
            return;
        }
        showProcessing();
        fetch("/preview", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                imgPath: "{{path}}",
                filter: currentFilter,
                value: currentFilterValue
            })
        }).then(response => response.text())
            .then(data => {
                window.open(data, "_blank");
                hideProcessing();
            });
    }
    function renameImage() {
        let newName = prompt("Podaj nową nazwę pliku (nie zapomnij o rozszerzeniu)");
        if (newName !== null) {
            fetch("/renameFile?p={{path}}&fileName="+newName).then(response => response.text())
                .then(data => {
                    showSucc();
                    setTimeout(() => {
                        location.href = "/image?p="+newName;
                    }, 500);
                });
        }
    }
    function save() {
        if(currentFilter === "") {
            alert("Nie wybrano filtra");
            return;
        }
        fetch("/save", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                imgPath: "{{path}}",
                filter: currentFilter,
                value: currentFilterValue
            })
        }).then(response => response.text())
            .then(data => {
                showSucc();
                setTimeout(() => {
                    location.reload();
                }, 1000);
            });
    }
    function showSucc() {
        $(".modal").style.display = "block"
        setTimeout(() => {
            $(".modal").style.display = "none"
        }, 1000);
    
    }
    function showProcessing() {
        $(".yellow").style.display = "block"
    }
    function hideProcessing() {
        $(".yellow").style.display = "none"
    }
</script>
<div class="modal">File was saved</div>
<div class="modal yellow">Processing ... </div>
<div><button onclick="openPanel()">Open</button></div>
<div id="panel">
    <button onclick="closePanel()">X</button>
    <div class="filters">
        <div style="background-image:url('{{path}}');" onclick="resetFilter()">
            Original
        </div>
        {{#each effects}}
        <div style="background-image:url('{{../path}}');filter:{{name}}({{value}})" onclick="setFilter('{{name}}', '{{value}}')"
            onmouseenter="setTempFilter('{{name}}', '{{value}}')" onmouseleave="clearTempFilter()">
            {{name}}
        </div>
        {{/each}}
    </div>
</div>
<main>
    <div class="image">
        <img src="{{path}}" alt="Image">
    </div>
    <div class="buttons">
        <button onclick="preview()">Podgląd pliku</button>
        <button onclick="renameImage()">Zmiana nazwy pliku</button>
        <button onclick="save()" >Zapisz zmiany</button>
    </div>
    <div class="image">
        <img class="modified-image" src="{{path}}" alt="Image">
    </div>
    <div class="modal">File was saved</div>
</main>